* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color_white_font: white;
  --color_blue: rgb(90, 90, 190);
  --color_ingress: rgb(16, 212, 238);
  --color_egress: rgb(245, 94, 94);
  --color_egress-porcentage: rgb(241, 129, 129);
  --color_egress-porcentage-2: rgb(247, 181, 181);
  --color_form: rgb(153, 151, 151);
}
body {
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  color: var(--color_white_font);
  width: 100%;
  height: 45vh;
  background: var(--color_blue);
}

h1,
.aconunt-box__icon {
  font-size: 1em;
}
.total_budget {
  font-size: 2em;
  margin-bottom: 30px;
}
.container {
  margin: 5px 0;
  font-size: 1em;
  width: 500px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
.container--up {
  background: var(--color_ingress);
}
.container--bown {
  background: var(--color_egress);
}
.container__ingress,
.container__egress {
  margin-right: 160px;
}
#ingress {
  margin-left: 50px;
}
#egress {
  margin-left: 50px;
}
.container__porcent {
  font-size: 0.8em;
  margin-left: 0;
  width: 60px;
  border-radius: 5px;
  padding: 2px 6px;
}

.container__porcent--red {
  background-color: var(--color_egress-porcentage);
}

.acount-box,
.acount-box__list,
.acount-box__rigt {
  display: flex;
  justify-content: space-between;
}
.acount-box__type {
  margin: 50px 150px;
}

.acount-box__list {
  vertical-align: middle;
  width: 300px;
  padding: 10px 5px;
  border-top: 0.5px solid silver;
  border-bottom: 0.5px solid silver;
  cursor: pointer;
}

.acount-box__title-ingress,
.aconunt-box__value-ingress,
.aconunt-box__icon--blue {
  color: var(--color_ingress);
}
.acount-box__title-egress,
.acount-box__value-egress,
.aconunt-box__value-percentage,
.aconunt-box__icon--red,
.acount-box__percentage {
  color: var(--color_egress);
}
.acount-box__title-ingress,
.acount-box__title-egress {
  margin-bottom: 30px;
}
.aconunt-box__value-egress {
  margin-left: 90px;
}
.aconunt-box__value-ingress,
.acount-box__value-egress {
  font-weight: 100;
  transition: transform 0.3s;
}

.acount-box__deleted {
  display: none;
  transition: display 3s;
}
.acount-box__percentage {
  margin: 0 5px 0px 10px;
  font-size: 0.8em;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color_egress-porcentage-2);
  border-radius: 5px;
}

.aconunt-box__icon {
  background: none;
  border: none;
  transition: transform 0.3s;
  cursor: pointer;
}

.aconunt-box__icon:active {
  transform: translateY(2.3px);
}
.acount-box__list:hover .aconunt-box__value-ingress {
  transform: translateX(-20px);
}
.acount-box__list:hover .acount-box__value-egress {
  transform: translateX(-20px);
}

.acount-box__list:hover .acount-box__deleted {
  display: block;
}
.acount-box__list:hover .acount-box__percentage {
  display: flex;
}
.container-form {
  display: flex;
  justify-content: center;
  padding: 20px 50px;
  background-color: rgb(248, 244, 244);
  border-bottom: 0.5px solid silver;
}

.container-form__box {
  display: flex;
}
.container-form__select {
  width: 75px;
  padding: 10px 2px;
}
.container-form__description,
.container-form__value {
  padding: 10px 10px;
  margin: 0 10px;
}

.container-form__description,
.container-form__value,
.container-form__select {
  border: 0.5px solid silver;
  border-radius: 5px;
  color: var(--color_form);
}

.container-form__description:focus,
.container-form__value,
.container-form__select {
  outline: none;
}

.container-form__description {
  width: 500px;
}
.container-form__value {
  width: 100px;
}
.container-form__btn {
  margin-left: 25px;
  font-size: 1.5em;
  background: none;
  border: none;
  color: rgb(105, 241, 105);
  cursor: pointer;
  transition: transform 2ms;
}
.container-form__btn:active {
  transform: translateY(2.3px);
}
